@font-face {
    font-family: 'CustomFont';
    src: url('../font/8e78142e2f114c02b6e1daaaf3419b2e.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'secondo_font';
    src: url('../font/Arimo.7ac02a544211773d9636e056e9da6c35.7.f8f199f09526f79e87644ed227e0f651.woff2') format('woff2');
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    overflow-x: hidden;
    position: relative;
    background-color: #f5f1de;

}

.fade-section {
    position: fixed;  /* L'elemento rimane fisso rispetto alla finestra del browser, quindi non scorre con la pagina */
    top: 0;           
    left: 0;          
    width: 100%;     
    height: 100vh;   
    
    background-color: #f5f1de;  
    color: rgb(8, 7, 91);
    display: flex;              
    align-items: center;        
    justify-content: center;   

    transition: opacity 2s ease-in-out;  /* Anima il cambiamento di opacità in 2 secondi con un effetto di dissolvenza */
    
    z-index: 10;  /* Imposta un livello di profondità più alto per sovrapporsi agli altri elementi della pagina */
    
    font-family: 'CustomFont', sans-serif; 
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.content {
    position: relative;
    width: 100%;
    height: 100vh; /* Altezza pari alla finestra */
}
.content img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'CustomFont', sans-serif;
}


.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3rem;
    color: rgb(8, 7, 91);
    font-family: 'CustomFont', sans-serif;
}


.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: white;
    max-width: 300px;
    line-height: 1.4;
    font-family: 'CustomFont', sans-serif;;

}


button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.3rem;
    border: none;
    background-color: #f5f1de;
    color: rgb(8, 7, 91);
    cursor: pointer;
    border-radius: 5px;
    font-family: 'CustomFont';
    size: 30px;
}
button:hover {
    background-color: #0056b3;
    color: white;
}

/* Sezione immagini*/
.next-section {
    min-height: 20vh;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background-color:  #f5f1de;
    top: 100px;
}



.contenitore_immagini{
    display: flex;
    width: max-content; /* adatta la dimensione alla quantità di immagini */
    animation: scroll 180s linear infinite; /* Controlla la velocità qui */
}
.immagine{
    width: 100%;
    height: 250px; /* Imposta un'altezza fissa per uniformare */
    object-fit: cover; /* Riempe il contenitore tagliando il minimo necessario */
    border-radius: 10px;
    margin-right: 10px;
 
}
/* Animazione */
@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.contenitore_step{
    display: flex; 
    width: 100%; 
    position: relative;
    top: 130px;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 5em;
    margin-bottom: 10px;
    color: #2e5a80;
    text-align: center;
    font-family: Songti TC;

}

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
        margin-top: 20px;
        max-width: 500px;
        width: 100%;
      }
  
      .circle {
    background-color: #2e5a80;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.7em;
    font-family: Hiragino Mincho ProN;

}
  
      .title_s {
    font-size: 2.1em;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;

}
  
      .description {
    font-size: 1.9em;
    color: #555;
    text-align: center;
    line-height: 1.5;

}


.qrcode {
    display: flex; 
    width: 100%; 
    position: relative;
    top: 100px;
    right: 20px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.qrcode img {
    width: 150px; /* Imposta una dimensione fissa per il QR code */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.scarica {
    font-size: 1.3em; 
    color: rgb(8, 7, 91); 
    margin-top: 10px; /* Aggiunge spazio tra il QR code e il testo */
}