
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    background-color: #EAE1C1;
    color: #1D3B5B;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
   
    padding-top: 40px;
  }
  
  
  h2 {
    font-size: 2rem;
    margin-bottom: 30px; 
  }
  

  .form-container {
    background: #fff;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
  }
  

  .form-container h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  

  .error-message, .success-message {
    min-height: 20px; 
    margin-bottom: 10px;
    font-weight: bold;
  }
  

  .error-message {
    color: #C0392B; 
  }
  .success-message {
    color: #2E7D32; 
  }
  

  .form-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
  }

  .form-container button {
    background-color: #1D3B5B; 
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-family: inherit;
  }

  .form-container button:hover {
    background-color: #13293F; 
  }
  

  .link-registrazione {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    align-items: center ;
  }
  .link-registrazione a {
    color: #6c04fc; 
    text-decoration: none;
  }
  .link-registrazione a:hover {
    text-decoration: underline;
  }
  
  @keyframes shake {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(-10px); }
    40%  { transform: translateX(10px); }
    60%  { transform: translateX(-10px); }
    80%  { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  .shake {
    animation: shake 0.4s;
  }
  .modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
    border-radius: 10%;
  }
  .modal.show {
    display: block;
  }